@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --principalColor: #2016a3;
}



header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url(../img/cep2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;


        
    }




header nav img {
    width: 20%;
}

#bck {
    z-index: -100;
    position: absolute;
    display: inline-block;
    
}

header nav {
    display: flex;
    justify-content: space-around;
    @media (max-width: 700px){
    flex-direction: column;

    }

    img {
        @media (max-width: 700px){
            margin: 0 auto;
            width: 200px;
            
        
            }
    }


}

header nav ul {
    line-height: 170px;
    display: flex;
    justify-content: space-between;
}

header nav ul a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    color: white;
    text-decoration: none;
}

header nav ul a li {
    list-style: none;
}

header nav ul a:hover {
    text-decoration: underline;
}




section {

    .conteudo {
        padding:  20px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 1.5rem;
        @media (max-width: 700px){
            text-align: center;
    }
    }
    

    #projeto, #beneficios{
        color: white;
        background-color: var(--principalColor);
    }

    img {
        width: 30%;
    }
    @media (max-width: 700px){
        flex-direction: column;
        img {
            width: 80%;
        }
    }

    desc {
        font-size: 1rem;
    }
    
    margin-bottom: 20px;

    ul li {
        font-weight: bold;
    }
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #110c58;
    color: white;
    padding: 20px;
    img {
        width: 80px;
    }
    p {
        margin:10px 0 ;
    }
}


